@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
}
/* ==================================== header ===================== */
header{
    width: 100%;
    min-height: fit-content;
    max-height: 100px;
    background-color: #fcdb00;
}
nav .nav-icon i{
    font-size: 25px;
}
nav .nav-logo{
    display: flex;
}
nav .nav-logo img{
    width: 35px;
    height: 35px;
    margin: 0 10px;
}
nav .nav-logo h3{
    font-weight: bold;
}
nav .nav-media i {
    font-size: 25px;
    margin: 0 10px;
}
/* ======================== banner ==================== */
.banner{
    height: calc(100vh - 90px);
    width: 100%;
    background-color: #fcdb00;
}
.banner-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    text-align: center;
}
.banner-content h2{
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.banner-content p{
    color: #313841;
}
.banner-content .system-icon{
    display: flex;
    margin-top:10px ;
}
.banner-content .system-icon .icon-div {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 0 10px;
}
.banner-content .system-icon .icon-div i{
    font-size: 25px;
}
/* ===================== feature section  ============== */
.feature-container{
    min-height: 100vh;
    max-height: fit-content;
    padding: 20px 0;
}
.feature-container .feature-title{
    width: 60%;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
.feature-details-container{
   margin: 0;
   padding: 20px 0;
   height: fit-content;
}
.feature-details-container .details-content{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
}
.feature-details-container .details-content div{
    padding: 20px 0;
    margin-bottom: 20px;
}
.feature-details-container .details-content div p{
    color: #8a8a8a;
}
.feature-details-container .mobile-design{
    height: 500px;
    background-color: black;
    border-radius: 20px;
    padding: 40px 10px;
}
.feature-details-container .mobile-design .white-screen{
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-details-container .mobile-design .white-screen img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
/* ------------------- footer ----------------- */
footer{
    min-height: 100vh;
    background-color: black;
    padding: 50px 0;
}
.footer-container{

}
.footer-heading{
    /* background-color: rgb(8, 198, 227); */
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.footer-heading h2{
    color: #fcdb00;
    font-weight: bold;
}
.footer-heading p{
    color: #898989;
    margin-bottom: 30px;
}
.footer-input-div input{
    width: 75%;
    padding: 10px;
    margin-right: 15px;
    /* outline: none; */
    border: none;
    border-radius: 5px;
}
.footer-input-div input::placeholder{
    color: #898989;
    font-weight: bold;
}
.footer-input-div button{
    width: 20%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #fcdb00;
    text-transform: uppercase;
    font-weight: bold;
}
.footer-contact{
    padding: 50px 0;
}
.footer-contact ul li{
    list-style: none;
    color: white;
}