@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
}
/* ==================================== header ===================== */
header{
    width: 100%;
    min-height: fit-content;
    max-height: 100px;
    background-color: #fcdb00;
}
nav .nav-icon i{
    font-size: 25px;
}
nav .nav-logo{
    display: flex;
}
nav .nav-logo img{
    width: 35px;
    height: 35px;
    margin: 0 10px;
}
nav .nav-logo h3{
    font-weight: bold;
}
nav .nav-media i {
    font-size: 25px;
    margin: 0 10px;
}
/* ======================== banner ==================== */
.banner{
    height: calc(100vh - 90px);
    width: 100%;
    background-color: #fcdb00;
}
.banner-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    text-align: center;
}
.banner-content h2{
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-content p{
    color: #313841;
}
.banner-content .system-icon{
    display: flex;
    margin-top:10px ;
}
.banner-content .system-icon .icon-div {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 0 10px;
}
.banner-content .system-icon .icon-div i{
    font-size: 25px;
}
/* ===================== feature section  ============== */
.feature-section{
    min-height: 100vh;
    max-height: fit-content;
    width: 100%;
}
.feature-section > div{
    height: 100%;
}
.feature-contents{
    height: 100%;
    padding: 50px 0;
}
.feature-contents .feature-title{
    width: 60%;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
.feature-details{
   height: 100%;
}
.feature-details .details-content{
    padding: 30px 40px;
}
.feature-details .details-content div{
    margin-bottom: 80px;
}
.feature-details .details-content div p{
    color: #8a8a8a;
}
.feature-details .mobile-design{
    height: 450px;
    background-color: black;
    border-radius: 20px;
    padding: 20px 10px;
}
.feature-details .mobile-design .white-screen{
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-details .mobile-design .white-screen img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
/* ======================= footer =============== */
@media screen and (max-width:768px){
 .banner-content{
    width: 80%;
 }
}
@media screen and (max-width: 576px) {
    /* ---------- header -------------- */
    nav .nav-media{
        display: none;
    }
    /* ----------------- banner ------------- */
    .banner-content{
        width: 90%;
        padding: 0 ;
    }
    .banner-content h2{
        margin-bottom: 10px;
    }
    .banner-content .system-icon{
        display: flex;
        margin-top:5px ;
    }
    .banner-content .system-icon .icon-div {
        width: 40px;
        height: 40px;
    }
    .banner-content .system-icon .icon-div i{
        font-size: 20px;
    }
}
  